<div class="section">
	<%= content_tag( 'h1', @source.title ) %>
</div>
<div class="section">
	<%= content_tag( 'h2', link_to( 'Similar sources', sources_sources_list_url ) ) %>
	<table>
		<thead>
			<tr>
				<%= content_tag( 'td', 'Similarity' ) %>
				<%= content_tag( 'td', 'Source' ) %>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => 'similar_source', :collection => @source.source_similarities %>
		</tbody>
	</table>
</div>
<div class="section">
	<%= content_tag( 'h2', link_to( 'Entities', source_entities_list_url ) ) %>
	<ol class="tag-cloud cm">
		<%= render :partial => 'source_entities/entity_for_cloud', :collection => @entities %>
	</ol>
</div>
<div class="section">
	<%= content_tag( 'h2', link_to( 'Articles', sources_articles_list_url ) ) %>
	<ol>
		<%= render :partial => 'articles/article', :collection => @source.articles %>
	</ol>
</div>