<div class="section">
	<%= content_tag( 'h1', @article.title ) %>
	<table>
		<tbody>
			<tr>
				<%= content_tag( 'th', 'Source:' ) %>
				<%= content_tag( 'td', link_to( @article.source.title, sources_show_url( :source => @article.source ) ) ) %>
			</tr>
			<tr>
				<%= content_tag( 'th', 'URL:' ) %>
				<%= content_tag( 'td', link_to( 'Link', @article.url) ) %>
			</tr>
			<tr>
				<%= content_tag( 'th', 'Published at:' ) %>
				<%= content_tag( 'td', @article.published_at.strftime( '%d/%m/%Y @ %H:%M' ) ) %>
			</tr>
			<tr>
				<%= content_tag( 'th', 'Sentiment:' ) %>
				<%= content_tag( 'td', @article.sentiment ) %>
			</tr>
			<tr>
				<%= content_tag( 'th', 'Subjectivity:' ) %>
				<%= content_tag( 'td', @article.subjectivity ) %>
			</tr>
		</tbody>
	</table>
</div>
<div class="section">
	<%= content_tag( 'h2', link_to( 'Elsewhere', articles_articles_list_url ) ) %>
	<table>
		<thead>
			<tr>
				<%= content_tag( 'td', 'Similarity' ) %>
				<%= content_tag( 'td', 'Source' ) %>
				<%= content_tag( 'td', 'Article' ) %>
				<%= content_tag( 'td', 'Sentiment' ) %>
				<%= content_tag( 'td', 'Subjectivity' ) %>
				<%= content_tag( 'td', 'Published at' ) %>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => 'similar_article', :collection => @article.article_similarities %>
		</tbody>
	</table>
	<%= content_tag( 'p', link_to( 'GEXF co-occurence XML', articles_show_url( :format => 'xml' ) ) ) %>
	<%= content_tag( 'p', link_to( 'JSON (by article URL)', articles_by_url_url( :url => @article.url, :format => 'json' ) ) ) %>
</div>
<div class="section">
	<%= content_tag( 'h2', link_to( 'Entities', articles_entities_list_url ) ) %>
	<ol>
		<%= render :partial => 'entities/entity', :collection => @article.entities %>
	</ol>
</div>