<div class="section">
	<%= content_tag( 'h1', @entity.name ) %>
</div>
<div class="section">
	<%= content_tag( 'h2', 'Articles' ) %>
	<ol>
		<%= render :partial => 'articles/article', :collection => @entity.articles %>
	</ol>
</div>
<div class="section">
	<%= content_tag( 'h2', 'Co-occurrent entities' ) %>
	<ol>
		<%= render :partial => 'entity', :collection => @entity.cooccurrent_entities %>
	</ol>
</div>
